<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container-fluid px-md-5 px-3">
      <div class="row mb-5">
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">UMKM TAPUT</h2>
            <p>Sate Abang Adek tabo, Sate Parangkot dang tabo. Sude tabo. Danghuantusi. Kesana bagus, kesana indah. I Love Taput.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/diskominfo.taput/"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Call Center</h2>
            <ul class="list-unstyled open-hours">
              <li class="d-flex"><span>Senin</span><span>9:00 - 17:00</span></li>
              <li class="d-flex"><span>Selasa</span><span>9:00 - 17:00</span></li>
              <li class="d-flex"><span>Rabu</span><span>9:00 - 17:00</span></li>
              <li class="d-flex"><span>Kamis</span><span>9:00 - 17:00</span></li>
              <li class="d-flex"><span>Jumat</span><span>9:00 - 17:00</span></li>
              <li class="d-flex"><span>Sabtu</span><span>9:00 - 14:00</span></li>
              <li class="d-flex"><span>Minggu</span><span>Libur</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Terima Pemberitahuan Kami</h2>
              <p>Kalo ada yang sesuatu ntar kami email bossku. SIapa tau ada barang baru.</p>
            <form action="#" class="subscribe-form">
              <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Masukkan Alamat Email">
                <input type="submit" value="Subscribe" class="form-control submit px-3">
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Instagram</h2>
            <div class="thumb d-sm-flex">
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-1.webp);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-2.webp);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-3.webp);">
                  </a>
              </div>
              <div class="thumb d-flex">
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-4.webp);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-5.webp);">
                  </a>
                  <a href="#" class="thumb-menu img" style="background-image: url(/images/insta-6.webp);">
                  </a>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>Copyright &copy;2020 All rights reserved | Kp219B - Dinas KOMINFO Tapanuli Utara</p>
          
        </div>
      </div>
    </div>
  </footer>